body {
  font-family: Arial, sans-serif;
  background-color: #c1dadd;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: #ffffff;
  padding: 100px;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  text-align: center;
}

h1 {
  margin-bottom: 40px;
  color: #0e033f;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 15px;
  color: #2e35be;
  font-size: x-large;
}

input[type="text"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 20px 80px;
  background: #00796b;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #04473c;
}

.result {
  margin-top: 40px;
  text-align: left;
  color: #05116d;
}

.error {
  color: #d32f2f;
  margin-top: 20px;
}